--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: admin
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO admin;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON SCHEMA public IS '';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO admin;

--
-- Name: alerta; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.alerta (
    id_alerta integer NOT NULL,
    tipo_alerta character varying(50) NOT NULL,
    mensaje text NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    fecha_resolucion timestamp without time zone,
    estado character varying(20) DEFAULT 'Activo'::character varying NOT NULL,
    id_producto integer
);


ALTER TABLE public.alerta OWNER TO admin;

--
-- Name: alerta_id_alerta_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.alerta_id_alerta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alerta_id_alerta_seq OWNER TO admin;

--
-- Name: alerta_id_alerta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.alerta_id_alerta_seq OWNED BY public.alerta.id_alerta;


--
-- Name: cliente; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cliente (
    id_cliente integer NOT NULL,
    nombre_cliente character varying(100) NOT NULL,
    cedula character varying(20) NOT NULL,
    telefono character varying(20),
    email character varying(100),
    direccion character varying,
    estado character varying(20) DEFAULT 'Activo'::character varying,
    apellido_cliente character varying
);


ALTER TABLE public.cliente OWNER TO admin;

--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.cliente_id_cliente_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.cliente_id_cliente_seq OWNER TO admin;

--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.cliente_id_cliente_seq OWNED BY public.cliente.id_cliente;


--
-- Name: detalle_venta; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.detalle_venta (
    id_detalle_venta integer NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario numeric(10,2) NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    id_venta integer,
    id_lote integer
);


ALTER TABLE public.detalle_venta OWNER TO admin;

--
-- Name: detalle_venta_id_detalle_venta_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.detalle_venta_id_detalle_venta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.detalle_venta_id_detalle_venta_seq OWNER TO admin;

--
-- Name: detalle_venta_id_detalle_venta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.detalle_venta_id_detalle_venta_seq OWNED BY public.detalle_venta.id_detalle_venta;


--
-- Name: entrada; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.entrada (
    id_entrada integer NOT NULL,
    fecha_entrada timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    precio_compra_unitario numeric(10,2) NOT NULL,
    precio_compra_total numeric(10,2) NOT NULL,
    numero_factura_compra character varying(50),
    proveedor character varying(100),
    observaciones text,
    estado character varying(20) DEFAULT 'Completado'::character varying NOT NULL,
    id_usuario integer,
    id_lote integer
);


ALTER TABLE public.entrada OWNER TO admin;

--
-- Name: entrada_id_entrada_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.entrada_id_entrada_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.entrada_id_entrada_seq OWNER TO admin;

--
-- Name: entrada_id_entrada_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.entrada_id_entrada_seq OWNED BY public.entrada.id_entrada;


--
-- Name: laboratorio; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.laboratorio (
    id_laboratorio integer NOT NULL,
    nombre_laboratorio character varying(100) NOT NULL,
    telefono character varying(20),
    email character varying(100),
    direccion character varying,
    estado character varying(20) DEFAULT 'Activo'::character varying
);


ALTER TABLE public.laboratorio OWNER TO admin;

--
-- Name: laboratorio_id_laboratorio_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.laboratorio_id_laboratorio_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.laboratorio_id_laboratorio_seq OWNER TO admin;

--
-- Name: laboratorio_id_laboratorio_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.laboratorio_id_laboratorio_seq OWNED BY public.laboratorio.id_laboratorio;


--
-- Name: lote; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.lote (
    id_lote integer NOT NULL,
    numero_lote character varying(50) NOT NULL,
    fecha_vencimiento date NOT NULL,
    fecha_entrada timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    cantidad_disponible integer NOT NULL,
    precio_compra_lote numeric(10,2) NOT NULL,
    temperatura_almacenamiento character varying(50),
    estado character varying(20) DEFAULT 'Activo'::character varying NOT NULL,
    id_producto integer
);


ALTER TABLE public.lote OWNER TO admin;

--
-- Name: lote_id_lote_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.lote_id_lote_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lote_id_lote_seq OWNER TO admin;

--
-- Name: lote_id_lote_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.lote_id_lote_seq OWNED BY public.lote.id_lote;


--
-- Name: producto; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.producto (
    id_producto integer NOT NULL,
    nombre_producto character varying(100) NOT NULL,
    principio_activo character varying(100),
    concentracion character varying(50),
    forma_farmaceutica character varying(50),
    precio_compra double precision,
    stock_minimo integer,
    stock_actual integer,
    descripcion character varying,
    estado character varying(20) DEFAULT 'Activo'::character varying,
    id_seccion integer,
    id_laboratorio integer
);


ALTER TABLE public.producto OWNER TO admin;

--
-- Name: producto_id_producto_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.producto_id_producto_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.producto_id_producto_seq OWNER TO admin;

--
-- Name: producto_id_producto_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.producto_id_producto_seq OWNED BY public.producto.id_producto;


--
-- Name: rol; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.rol (
    id_rol integer NOT NULL,
    nombre_rol character varying(50) NOT NULL,
    descripcion text,
    estado character varying(20) DEFAULT 'Activo'::character varying NOT NULL
);


ALTER TABLE public.rol OWNER TO admin;

--
-- Name: rol_id_rol_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.rol_id_rol_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rol_id_rol_seq OWNER TO admin;

--
-- Name: rol_id_rol_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.rol_id_rol_seq OWNED BY public.rol.id_rol;


--
-- Name: salida; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.salida (
    id_salida integer NOT NULL,
    fecha_salida timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    cantidad_salida integer NOT NULL,
    motivo character varying(50),
    observaciones text,
    estado character varying(20) DEFAULT 'Completado'::character varying NOT NULL,
    id_usuario integer,
    id_lote integer
);


ALTER TABLE public.salida OWNER TO admin;

--
-- Name: salida_id_salida_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.salida_id_salida_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.salida_id_salida_seq OWNER TO admin;

--
-- Name: salida_id_salida_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.salida_id_salida_seq OWNED BY public.salida.id_salida;


--
-- Name: seccion; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.seccion (
    id_seccion integer NOT NULL,
    nombre_seccion character varying(50) NOT NULL,
    descripcion character varying,
    ubicacion_fisica character varying(100),
    estado character varying(20) DEFAULT 'Activo'::character varying
);


ALTER TABLE public.seccion OWNER TO admin;

--
-- Name: seccion_id_seccion_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.seccion_id_seccion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.seccion_id_seccion_seq OWNER TO admin;

--
-- Name: seccion_id_seccion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.seccion_id_seccion_seq OWNED BY public.seccion.id_seccion;


--
-- Name: usuario; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.usuario (
    id_usuario integer NOT NULL,
    nombre_usuario character varying(100) NOT NULL,
    cedula character varying(20),
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    telefono character varying(20),
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    ultimo_acceso timestamp without time zone,
    estado character varying(20) DEFAULT 'Activo'::character varying NOT NULL,
    id_rol integer
);


ALTER TABLE public.usuario OWNER TO admin;

--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.usuario_id_usuario_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.usuario_id_usuario_seq OWNER TO admin;

--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.usuario_id_usuario_seq OWNED BY public.usuario.id_usuario;


--
-- Name: venta; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.venta (
    id_venta integer NOT NULL,
    fecha_venta timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    descuento numeric(10,2) DEFAULT 0.00,
    impuesto numeric(10,2) NOT NULL,
    total numeric(10,2) NOT NULL,
    metodo_pago character varying(50),
    estado character varying(20) DEFAULT 'Completado'::character varying NOT NULL,
    id_usuario integer,
    id_cliente integer
);


ALTER TABLE public.venta OWNER TO admin;

--
-- Name: venta_id_venta_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.venta_id_venta_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.venta_id_venta_seq OWNER TO admin;

--
-- Name: venta_id_venta_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.venta_id_venta_seq OWNED BY public.venta.id_venta;


--
-- Name: alerta id_alerta; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.alerta ALTER COLUMN id_alerta SET DEFAULT nextval('public.alerta_id_alerta_seq'::regclass);


--
-- Name: cliente id_cliente; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cliente ALTER COLUMN id_cliente SET DEFAULT nextval('public.cliente_id_cliente_seq'::regclass);


--
-- Name: detalle_venta id_detalle_venta; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.detalle_venta ALTER COLUMN id_detalle_venta SET DEFAULT nextval('public.detalle_venta_id_detalle_venta_seq'::regclass);


--
-- Name: entrada id_entrada; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.entrada ALTER COLUMN id_entrada SET DEFAULT nextval('public.entrada_id_entrada_seq'::regclass);


--
-- Name: laboratorio id_laboratorio; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.laboratorio ALTER COLUMN id_laboratorio SET DEFAULT nextval('public.laboratorio_id_laboratorio_seq'::regclass);


--
-- Name: lote id_lote; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lote ALTER COLUMN id_lote SET DEFAULT nextval('public.lote_id_lote_seq'::regclass);


--
-- Name: producto id_producto; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.producto ALTER COLUMN id_producto SET DEFAULT nextval('public.producto_id_producto_seq'::regclass);


--
-- Name: rol id_rol; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rol ALTER COLUMN id_rol SET DEFAULT nextval('public.rol_id_rol_seq'::regclass);


--
-- Name: salida id_salida; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.salida ALTER COLUMN id_salida SET DEFAULT nextval('public.salida_id_salida_seq'::regclass);


--
-- Name: seccion id_seccion; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.seccion ALTER COLUMN id_seccion SET DEFAULT nextval('public.seccion_id_seccion_seq'::regclass);


--
-- Name: usuario id_usuario; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuario ALTER COLUMN id_usuario SET DEFAULT nextval('public.usuario_id_usuario_seq'::regclass);


--
-- Name: venta id_venta; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.venta ALTER COLUMN id_venta SET DEFAULT nextval('public.venta_id_venta_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.alembic_version (version_num) FROM stdin;
8b0b2b1251ba
\.


--
-- Data for Name: alerta; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.alerta (id_alerta, tipo_alerta, mensaje, fecha_creacion, fecha_resolucion, estado, id_producto) FROM stdin;
1	Stock Bajo	Stock de Vitamina C por debajo del m├¡nimo	2025-09-01 23:59:00	\N	Activo	1
2	Vencimiento Cercano	Lote de Ashwagandha pr├│ximo a vencer	2025-09-01 23:59:00	\N	Activo	2
3	Stock Bajo	Stock de Omega 3 por debajo del m├¡nimo	2025-09-01 23:59:00	\N	Activo	3
\.


--
-- Data for Name: cliente; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.cliente (id_cliente, nombre_cliente, cedula, telefono, email, direccion, estado, apellido_cliente) FROM stdin;
1	Juan P├®rez	1234567890	555-1234	juan.perez@example.com	Calle Falsa 123	Activo	\N
2	Mar├¡a L├│pez	0987654321	555-5678	maria.lopez@example.com	Av. Siempre Viva 742	Activo	\N
3	Carlos Ram├¡rez	1122334455	555-9012	carlos.ramirez@example.com	Blvd Central 456	Activo	\N
\.


--
-- Data for Name: detalle_venta; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.detalle_venta (id_detalle_venta, cantidad, precio_unitario, subtotal, id_venta, id_lote) FROM stdin;
1	2	15.99	31.98	1	1
2	1	25.50	25.50	2	3
3	2	29.99	59.98	3	4
\.


--
-- Data for Name: entrada; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.entrada (id_entrada, fecha_entrada, precio_compra_unitario, precio_compra_total, numero_factura_compra, proveedor, observaciones, estado, id_usuario, id_lote) FROM stdin;
1	2025-09-01 23:59:00	12.50	1875.00	FAC001	Nature Made	Entrega completa	Completado	1	1
2	2025-09-01 23:59:00	15.00	1500.00	FAC002	Garden of Life	Verificar calidad	Completado	1	2
3	2025-09-01 23:59:00	20.00	3600.00	FAC003	NOW Foods	Temperatura controlada	Completado	1	3
\.


--
-- Data for Name: laboratorio; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.laboratorio (id_laboratorio, nombre_laboratorio, telefono, email, direccion, estado) FROM stdin;
1	Garden of Life	1-800-622-8986	info@gardenoflife.com	1415 Park Ave West, Highland Park, IL, USA	Activo
2	Nature Made	1-800-276-2878	support@naturemade.com	1641 S Sinclair Ave, Anaheim, CA, USA	Activo
3	Thorne Research	1-800-228-1966	contact@thorne.com	620 Omni Industrial Blvd, Summerville, SC, USA	Activo
4	NOW Foods	1-888-669-3663	info@nowfoods.com	244 Knollwood Dr, Bloomingdale, IL, USA	Activo
\.


--
-- Data for Name: lote; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.lote (id_lote, numero_lote, fecha_vencimiento, fecha_entrada, cantidad_disponible, precio_compra_lote, temperatura_almacenamiento, estado, id_producto) FROM stdin;
1	LOT-VC001	2027-06-30	2025-09-02 00:04:00	150	1875.00	15-25┬░C	Activo	1
2	LOT-ASH001	2026-12-31	2025-09-02 00:04:00	100	1500.00	15-25┬░C	Activo	2
3	LOT-OM3001	2027-03-31	2025-09-02 00:04:00	180	3600.00	5-15┬░C	Activo	3
4	LOT-PRO001	2026-11-30	2025-09-02 00:04:00	90	2250.00	15-25┬░C	Activo	4
\.


--
-- Data for Name: producto; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: rol; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.rol (id_rol, nombre_rol, descripcion, estado) FROM stdin;
1	Administrador	Acceso completo al sistema	Activo
2	Vendedor	Acceso limitado a ventas e inventario	Activo
3	Gerente	Gesti├│n de reportes y usuarios	Activo
\.


--
-- Data for Name: salida; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.salida (id_salida, fecha_salida, cantidad_salida, motivo, observaciones, estado, id_usuario, id_lote) FROM stdin;
1	2025-09-01 23:59:00	2	Venta	Entrega al cliente Juan	Completado	2	1
2	2025-09-01 23:59:00	1	Venta	Pago en efectivo	Completado	2	3
3	2025-09-01 23:59:00	2	Venta	Transferencia confirmada	Completado	2	4
\.


--
-- Data for Name: seccion; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.seccion (id_seccion, nombre_seccion, descripcion, ubicacion_fisica, estado) FROM stdin;
1	Vitaminas y Minerales	Suplementos de vitaminas esenciales	Pasillo 1	Activo
2	Hierbas y Extractos	Extractos de plantas medicinales	Pasillo 2	Activo
3	Suplementos Nutricionales	Productos para bienestar general	Pasillo 3	Activo
4	Probi├│ticos y Digestivos	Suplementos para salud intestinal	Pasillo 4	Activo
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.usuario (id_usuario, nombre_usuario, cedula, email, password_hash, telefono, fecha_creacion, ultimo_acceso, estado, id_rol) FROM stdin;
1	Admin Principal	1111111111	admin@inventario.com	hashed_password	555-0001	2025-09-01 23:59:00	2025-09-01 23:59:00	Activo	1
2	Vendedor 1	2222222222	vendedor1@inventario.com	hashed_password	555-0002	2025-09-01 23:59:00	2025-09-01 23:59:00	Activo	2
3	Gerente 1	3333333333	gerente@inventario.com	hashed_password	555-0003	2025-09-01 23:59:00	2025-09-01 23:59:00	Activo	3
\.


--
-- Data for Name: venta; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.venta (id_venta, fecha_venta, subtotal, descuento, impuesto, total, metodo_pago, estado, id_usuario, id_cliente) FROM stdin;
1	2025-09-01 23:59:00	31.98	0.00	2.56	34.54	Tarjeta	Completado	2	1
2	2025-09-01 23:59:00	25.50	1.00	2.04	26.54	Efectivo	Completado	2	2
3	2025-09-01 23:59:00	59.98	5.00	4.80	59.78	Transferencia	Completado	2	3
\.


--
-- Name: alerta_id_alerta_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.alerta_id_alerta_seq', 3, true);


--
-- Name: cliente_id_cliente_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.cliente_id_cliente_seq', 3, true);


--
-- Name: detalle_venta_id_detalle_venta_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.detalle_venta_id_detalle_venta_seq', 3, true);


--
-- Name: entrada_id_entrada_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.entrada_id_entrada_seq', 3, true);


--
-- Name: laboratorio_id_laboratorio_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.laboratorio_id_laboratorio_seq', 4, true);


--
-- Name: lote_id_lote_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.lote_id_lote_seq', 4, true);


--
-- Name: producto_id_producto_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.producto_id_producto_seq', 4, true);


--
-- Name: rol_id_rol_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.rol_id_rol_seq', 3, true);


--
-- Name: salida_id_salida_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.salida_id_salida_seq', 3, true);


--
-- Name: seccion_id_seccion_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.seccion_id_seccion_seq', 4, true);


--
-- Name: usuario_id_usuario_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.usuario_id_usuario_seq', 3, true);


--
-- Name: venta_id_venta_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.venta_id_venta_seq', 3, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: alerta alerta_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.alerta
    ADD CONSTRAINT alerta_pkey PRIMARY KEY (id_alerta);


--
-- Name: cliente cliente_cedula_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_cedula_key UNIQUE (cedula);


--
-- Name: cliente cliente_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cliente
    ADD CONSTRAINT cliente_pkey PRIMARY KEY (id_cliente);


--
-- Name: detalle_venta detalle_venta_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.detalle_venta
    ADD CONSTRAINT detalle_venta_pkey PRIMARY KEY (id_detalle_venta);


--
-- Name: entrada entrada_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.entrada
    ADD CONSTRAINT entrada_pkey PRIMARY KEY (id_entrada);


--
-- Name: laboratorio laboratorio_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.laboratorio
    ADD CONSTRAINT laboratorio_pkey PRIMARY KEY (id_laboratorio);


--
-- Name: lote lote_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lote
    ADD CONSTRAINT lote_pkey PRIMARY KEY (id_lote);


--
-- Name: producto producto_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_pkey PRIMARY KEY (id_producto);


--
-- Name: rol rol_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.rol
    ADD CONSTRAINT rol_pkey PRIMARY KEY (id_rol);


--
-- Name: salida salida_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.salida
    ADD CONSTRAINT salida_pkey PRIMARY KEY (id_salida);


--
-- Name: seccion seccion_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.seccion
    ADD CONSTRAINT seccion_pkey PRIMARY KEY (id_seccion);


--
-- Name: usuario usuario_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_email_key UNIQUE (email);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id_usuario);


--
-- Name: venta venta_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT venta_pkey PRIMARY KEY (id_venta);


--
-- Name: ix_cliente_id_cliente; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_cliente_id_cliente ON public.cliente USING btree (id_cliente);


--
-- Name: ix_laboratorio_id_laboratorio; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_laboratorio_id_laboratorio ON public.laboratorio USING btree (id_laboratorio);


--
-- Name: ix_producto_id_producto; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_producto_id_producto ON public.producto USING btree (id_producto);


--
-- Name: ix_seccion_id_seccion; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX ix_seccion_id_seccion ON public.seccion USING btree (id_seccion);


--
-- Name: alerta alerta_id_producto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.alerta
    ADD CONSTRAINT alerta_id_producto_fkey FOREIGN KEY (id_producto) REFERENCES public.producto(id_producto);


--
-- Name: detalle_venta detalle_venta_id_lote_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.detalle_venta
    ADD CONSTRAINT detalle_venta_id_lote_fkey FOREIGN KEY (id_lote) REFERENCES public.lote(id_lote);


--
-- Name: detalle_venta detalle_venta_id_venta_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.detalle_venta
    ADD CONSTRAINT detalle_venta_id_venta_fkey FOREIGN KEY (id_venta) REFERENCES public.venta(id_venta);


--
-- Name: entrada entrada_id_lote_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.entrada
    ADD CONSTRAINT entrada_id_lote_fkey FOREIGN KEY (id_lote) REFERENCES public.lote(id_lote);


--
-- Name: entrada entrada_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.entrada
    ADD CONSTRAINT entrada_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: lote lote_id_producto_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.lote
    ADD CONSTRAINT lote_id_producto_fkey FOREIGN KEY (id_producto) REFERENCES public.producto(id_producto);


--
-- Name: producto producto_id_laboratorio_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_id_laboratorio_fkey FOREIGN KEY (id_laboratorio) REFERENCES public.laboratorio(id_laboratorio);


--
-- Name: producto producto_id_seccion_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.producto
    ADD CONSTRAINT producto_id_seccion_fkey FOREIGN KEY (id_seccion) REFERENCES public.seccion(id_seccion);


--
-- Name: salida salida_id_lote_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.salida
    ADD CONSTRAINT salida_id_lote_fkey FOREIGN KEY (id_lote) REFERENCES public.lote(id_lote);


--
-- Name: salida salida_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.salida
    ADD CONSTRAINT salida_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: usuario usuario_id_rol_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_id_rol_fkey FOREIGN KEY (id_rol) REFERENCES public.rol(id_rol);


--
-- Name: venta venta_id_cliente_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT venta_id_cliente_fkey FOREIGN KEY (id_cliente) REFERENCES public.cliente(id_cliente);


--
-- Name: venta venta_id_usuario_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.venta
    ADD CONSTRAINT venta_id_usuario_fkey FOREIGN KEY (id_usuario) REFERENCES public.usuario(id_usuario);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: admin
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

